
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>DonKats Meal Plan Input</title>
</head>
<body>
  <h2>Enter Your Family Meal Plan Info</h2>
  <form action="/preview" method="post">
    <label>Budget: $<input type="number" name="budget" step="0.01" required></label><br><br>
    <label>ZIP Code: <input type="text" name="zip" required></label><br><br>
    <label>Food Restrictions: <input type="text" name="restriction"></label><br><br>
    <label><input type="checkbox" name="include_fish_friday" checked> Include fish as a random dinner on Friday?</label><br><br>
    <h3>Adults</h3>
    <label>Adult 1 Name: <input type="text" name="adult1_name"> Age: <input type="number" name="adult1_age"></label><br>
    <label>Adult 2 Name: <input type="text" name="adult2_name"> Age: <input type="number" name="adult2_age"></label><br>
    <h3>Children</h3>
    {% for i in range(1, 7) %}
      <label>Child {{i}} Name: <input type="text" name="child{{i}}_name"> Age: <input type="number" name="child{{i}}_age"></label><br>
    {% endfor %}
    <br>
    <input type="submit" value="Preview Meal Plan">
  </form>
</body>
</html>
